@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS:wght@400&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    color: #333;
    position: relative; /* Aggiungi questa regola */
}

h1 {
    font-family: 'Comic Sans MS', cursive;
    color: #ff0000;
    display: inline-block;
    position: relative;
    animation: wave 2s infinite;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #001aff;
    color: white;
}

.immagine {
    width: 200px;
    height: auto;
    position: relative;
    cursor: pointer;
}

.immagine:hover + .zoom {
    display: block;
}

.zoom {
    display: none;
    position: absolute;
    width: 400px;
    height: auto;
    top: 0;
    left: 220px;
    border: 1px solid #ddd;
    background-color: white;
    z-index: 10;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

button {
    background-color: #3b8a5f;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.payment-methods {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.payment-methods h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.payment-icons img {
    width: 50px;
    margin-right: 10px;
}

.center {
    text-align: center;
    margin-bottom: 20px;
}

.success-message {
    text-align: center;
    margin-top: 50px;
}

.success-message h1 {
    color: green;
}

.success-message p {
    font-size: 1.2em;
}
