@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS:wght@400&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    color: #333;
}

h1 {
    font-family: 'Comic Sans MS', cursive;
    color: #ff0000;
    display: inline-block;
    position: relative;
    animation: wave 2s infinite;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #001aff;
    color: white;
}

.immagine {
    width: 200px; /* Aumenta la larghezza delle immagini */
    height: auto;
    position: relative;
    cursor: pointer;
}

.immagine:hover + .zoom {
    display: block;
}

.zoom {
    display: none;
    position: absolute;
    width: 400px; /* Dimensione dell'immagine ingrandita */
    height: auto;
    top: 0;
    left: 220px; /* Distanza dall'immagine originale */
    border: 1px solid #ddd;
    background-color: white;
    z-index: 10;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

button {
    background-color: #3b8a5f;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
